.carousel-item{
    height: 600px;

}
.carousel-image-1{
    background: url(../img/img1.jpeg);
    background-size: cover;
}

.carousel-image-2{
    background: url(../img/img2.jpeg);
    background-size: cover;
}

.carousel-image-3{
    background: url(../img/img3.jpeg);
    background-size: cover;
}

